<div class="container">
  <div class="banner text-center">
    <h1>Cocktails For The Beach</h1>
  </div>

  <div class="cards">
    <%# FOR ALL COCKTAILS %>
    <% @cocktails.each do |cocktail| %>
      <div class="card-margin">
        <a href="cocktails/<% cocktail.id %>" class="card-link" style="display: block;">
          <div class="card">
            <div class="card-text">
              <p><%= cocktail.name %></p>
            </div>
          </div>
        </a>
      </div>
    <% end %>
  </div>
  
    <%= link_to new_cocktail_path do %>
    <div class="new_cocktail">
      <p><i class="fas fa-glass-martini-alt"></i> Add A New Cocktail!</p>
    </div>
    <% end %>
  

</div>
