<div class="container">
  <div class="banner text-center">
    <h1>Cocktails For The Beach</h1>
  </div>

  <div class="cards">
    <%# FOR ALL COCKTAILS %>
    <% @cocktails.each do |cocktail| %>
      <div class="card-margin">
        <%= link_to cocktail_path(cocktail.id) do %>
        
          <div class="card">
            <div class="card-text">
              <p><%= cocktail.name %></p>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
  
    <div class="new_cocktail">
      <%= link_to new_cocktail_path do %>
        <p><i class="fas fa-glass-martini-alt"></i> Add A New Cocktail!</p>
    </div>

    <% end %>
  

</div>
