<div class="container">
  <div class="banner text-center">
    <h1>Cocktails For The Beach</h1>
  </div>

  <div class="cards">
    <%# FOR ALL COCKTAILS %>
    <% @cocktails.each do |cocktail| %>

    <a href="cocktails/<% cocktail.id %>" class="card-link">
      <div class="card">
        <p class='blue_cocktail'><%= cocktail.name %></p>
      </div>
    </a>

    <% end %>

  </div>
  <div>
  </div>
    <%= link_to new_cocktail_path do %>
      <p><i class="fas fa-glass-martini-alt"></i> Add A New Cocktail!</p>
    <% end %>
  

</div>
