<div class="show-background">
  <div class="new-container">
    <div class="new-cocktail-img">
    </div>
    <%= simple_form_for @cocktail do |f| %>
      <%= f.input :name %>
      <%= f.submit class: 'btn btn-primary' %>
      <% end %>
  </div>
</div>