<div class="show-background">
  <div class="new-container">
    <div class="new-cocktail-img">
    </div>
    <%= simple_form_for @cocktail do |f| %>
      <%= f.input :name %>
      <%= f.submit class: 'btn btn-primary' %>
      <% end %>
  </div>
  <%= link_to root_path do %>
    <p><i class="fas fa-cocktail"></i> Back To All Cocktails</p>
  <% end %>
</div>