// Specific CSS for your home-page
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

body {
  background-image: asset-url('banner.png');
  background-position: center;
  background-size: cover;
}
