// Specific CSS for your home-page
.index-background {
  background-image: url('https://images.pexels.com/photos/1710795/pexels-photo-1710795.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.index-container{
  padding-bottom: 45px;
}
