<%= simple_form_for [@cocktail, @dose] do |f| %>
  <%= f.input :description, placeholder: '1 shot' %>
  <h5>OF</h5>
  <%= f.input :ingredient, collection: @ingredients, class: 'select2' %>
  
  <%= f.submit class: "btn btn-primary"%>
<% end %>