.new_cocktail{
  color: #CB9500;
  border: 1px solid black;
  width: 217px;
  border-radius: 10px;
  padding: 10px;
  background-color: black;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 30px;

}

.new_cocktail p {
  margin-bottom: 0px;
}