.new_cocktail{
  color: #CB9500;
  border: 1px solid black;
  width: 217px;
  border-radius: 10px;
  background-color: black;
  text-align: center;
  margin: 10px auto;
  margin-bottom: 40px;

  p{
    margin-bottom: 0px;
    padding: 12px;
  }

  a{
    text-decoration: none;
  }
}
