.card{
  background-position: center;
  background-size: cover;
  width: 200px;
  height: 300px;
}

.blue_cocktail{
  background-image: asset-url('blue_cocktail.png');
  height: 300px;
  margin-bottom: 0;
  background-size: cover;
  background-position: center;
}