#dose_description{
  width: 300px;
}

#new_dose > div.form-group.select.required.dose_ingredient > span {
  width: 300px !important;
}

#dose_form_input{
  display: flex;

  h5{
    margin-left: 30px;
    margin-right: 30px;
  }
}
